<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>관리자 회원 상세정보</title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }

        .detail table th, .detail table td {
            border: solid 1px #000;
        }
        .log table {
            width: 100%;
            border-collapse: collapse;
        }

        .log table tr, .detail table td {
            border: solid 1px #000;
            text-align: center;
            padding-top: 10px;
        }
    </style>

</head>

<body>
<h1> 관리자 회원 상세</h1>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="detail">

    <table>
        <tbody>
        <tr>
            <th>아이디</th>
            <td>
                <p th:text="${member.userId}"></p>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                <p th:text="${member.userName}"></p>
            </td>
        </tr>
        <tr>
            <th>연락처</th>
            <td>
                <p th:text="${member.phone}"></p>
            </td>
        </tr>
        <tr>
            <th>가입일</th>
            <td>
                <p th:text="${member.regDt}"></p>
            </td>
        </tr>
        <tr>
            <th>이메일인증</th>
            <td>
                <p th:text="${member.emailAuthYn}"></p>
            </td>
        </tr>
        <tr>
            <th>관리자여부</th>
            <td>
                <p th:text="${member.adminYn}"></p>
            </td>
        </tr>
        <tr>
            <th>회원상태</th>
            <td>
                <p>
                    현재상태:<span th:text="${member.userStatus}"></span>
                </p>
                <div>
                    <form method="post" action="/admin/member/status">
                        <input th:value="${member.userId}" name="userId"
                               type="hidden"/>
                        <select name="userStatus">
                            <option value="REQ" th:selected="${member.userStatus =='REQ'}">가입승인중</option>
                            <option value="ING" th:selected="${member.userStatus =='ING'}">이용중</option>
                            <option value="STOP" th:selected="${member.userStatus =='STOP'}">가입정지</option>
                        </select>
                        <button type="submit">상태변경</button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <th>회원 비밀번호 초기화</th>
            <td>
                <p>
                    현재상태:<span th:text="${member.userStatus}"></span>
                </p>
                <div>
                    <form method="post" action="/admin/member/password">
                        <input th:value="${member.userId}" name="userId"
                               type="hidden"/>
                        <input name="password" type="text"/>
                        <button type="submit">비밀번호 초기화</button>
                    </form>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<hr/>
    <a href="/admin/member/list">목록으로이동</a>
<div>
</div>
<div class="log">
    <table>
        <thead>
            <th>NO</th>
            <th>마지막로그인일자</th>
            <th>접속IP</th>
            <th>접속UserAgent</th>
        </thead>
        <tbody>
        <tr th:each="x: ${history}">
        <td th:text="${x.NO}"></td>
        <td th:text="${x.conDate}"></td>
        <td th:text="${x.userIp}"></td>
        <td th:text="${x.userAg}"></td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>