<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>관리자 회원 상세정보</title>
<style>
  .detail table {
    width: 100%;
    border-collapse: collapse;
  }
  .detail table th, .detail table td {
    border:solid 1px #000;
  }
</style>

</head>

<body>
<h1> 관리자 회원 상세</h1>
<div>
  <a href="/admin/main">관리자메인</a> |
  <a href="/admin/member/list"> 회원 관리</a> |
  <a href="/admin/member/list"> 카테고리 관리</a> |
  <a href="/admin/member/list"> 강의 관리</a>
</div>

<div class="detail">

    <table>
      <tbody>
      <tr>
        <th>아이디</th>
        <td>
          <p th:text="${member.userId}"></p>
        </td>
      </tr>
      <tr>
        <th>이름</th>
        <td>
          <p th:text="${member.userName}"></p>
        </td>
      </tr>
      <tr>
        <th>연락처</th>
        <td>
          <p th:text="${member.phone}"></p>
        </td>
      </tr>
      <tr>
        <th>가입일</th>
        <td>
          <p th:text="${member.regDt}"></p>
        </td>
      </tr>
      <tr>
        <th>이메일인증</th>
        <td>
          <p th:text="${member.emailAuthYn}"></p>
        </td>
      </tr>
      <tr>
        <th>관리자여부</th>
        <td>
          <p th:text="${member.adminYn}"></p>
        </td>
      </tr>

      </tbody>
    </table>


</div>
</body>
</html>