<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet'
          type='text/css'>
    <style type="text/css">
        @import url("/css/banner.css");
    </style>
    <script type="text/javascript" th:src="@{/js/banner.js}"></script>

</head>

<body>
<h1> index.page</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<div class="home__slider">
    <div id="wrapper">
        <div id="slider-wrap">

            <ul id="slider">

            </ul>

            <!--controls-->
            <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
            <div class="btns" id="previous"><i class="fa fa-arrow-left"></i>
            </div>
            <div id="counter"></div>

            <div id="pagination-wrap">
                <ul></ul>
            </div>
            <!--controls-->

        </div>

    </div>

</div>


<script th:inline="javascript">

    //current position
    var pos = 0;
    //number of slides
    var totalSlides = [[${home__slider}]].length;
    //get the slide width
    var sliderWidth = $('#slider-wrap').width();

    const values = [[${home__slider}]];

    $(document).ready(function () {

        /*****************
         BUILD THE SLIDER
         *****************/
        //set width to be 'x' times the number of slides
        $('#slider-wrap ul#slider').width(sliderWidth * totalSlides);

        //next slide
        $('#next').click(function () {
            slideRight();
        });

        //previous slide
        $('#previous').click(function () {
            slideLeft();
        });

        /*************************
         //*> OPTIONAL SETTINGS
         ************************/
            //automatic slider
        var autoSlider = setInterval(slideRight, 3000);


        for (let i = 0; i < totalSlides; i++) {
            var lists = document.createElement('li');
            $('#pagination-wrap ul').append(lists);
        }


        $.each(values, function (index, value) {

            const link = value.bannerLink;
            const li = document.createElement('li');
            const a = $('<a>', {
                'href': '/course/',
                'target': '_blank',
                'id': 'loginAl'
            });
            const img = $('<img>', {
                'src': link,
                'width': '600px',
                'height': '400px'
            });
            $('#slider-wrap ul#slider').append(li);
            $(a).appendTo('#slider-wrap ul#slider li');
            $(img).appendTo('#slider-wrap ul#slider li a');
        });


        //counter
        countSlides();

        //pagination
        pagination();

        //hide/show controls/btns when hover
        //pause automatic slide when hover
        $('#slider-wrap').hover(
            function () {
                $(this).addClass('active');
                clearInterval(autoSlider);
            },
            function () {
                $(this).removeClass('active');
                autoSlider = setInterval(slideRight, 3000);
            }
        );

        $('#loginAl').one('click',function(){

            if(!confirm("강좌메뉴로 이동하시겠습니까?")){
                return false;
            }
        });
    });//DOCUMENT READY

</script>


</body>
</html>

